.login_container{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img_container{
    min-width: 500px;
    height: 100%;
    position: relative;
    z-index: -1;
}

.img_container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--gradient), var(--accent-dark));
}

.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.login_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 50%;
    background-size: cover;
}

.user_type{
    background: var(--bg-dark);
    padding: .25rem .75rem;
}

.user_type button{
    background: none;
    border: none;
    outline: none;
    padding: 0.25rem 2rem;
}

.login_form{
    display: flex;
    flex-direction: column;
    width: 60%; 
    gap:1rem;
}

.login_form label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login_form input{
    border: 2px solid var(--bg-dark);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    outline: none;
}

.login_form input:focus{
    border: 2px solid var(--accent);
}

.login_form button{
    cursor: pointer;
    background: var(--accent);
    outline: none;
    border: none;
    color: white;
    padding: .75rem 0rem;
    border-radius: 0.75rem;
}

@media(max-width:1025px){
    .img_container{
        display: none;
    }
    .login_card{
        width: 100%;
    }
}