@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --bg-light:#f9fafb;
    --bg-dark: #e0e6eb;

    --accent:#50957e;
    --accent-dark: hsl(160, 30%, 10%);

    --gradient: color-mix(in oklab, hsl(160, 30%, 45%) 40%, transparent);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    overflow-x: hidden;
    background: var(--bg-light);
}

main{
    margin-top: 3.4em;
    height: 100vh;
}

h1{
    font-family: 'Outfit', sans-serif;
}

