:root{
    --bg-light:#f9fafb;
    --bg-dark: #e0e6eb;

    --accent:#50957e;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background: var(--bg-light);
}

main{
    margin-top: 3.4em;
    height: 100vh;
}